<div style="position: fixed; left: 15px; bottom: 0; width: 100%">
  <div class="card-header">
    <footer class="blockquote-footer">
      <cite title="Source Title">Arijit Karmakar</cite>
    </footer>
  </div>
</div>
